
{% load staticfiles %}
<html>
    <head>
        <title>СТАТЬИ</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <a href="{% url 'logout' %}" class="top-menu">
                    <button type="submit" class="save btn btn-default">Выйти</button></span>
                </a>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu">
                    <button type="submit" class="save btn btn-default">Войти</button></span>
                </a>
            {% endif %}
            <h1><a href="/">СТАТЬИ</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <form method="post" action="/auth/register/" >
		    		{% csrf_token %}
		    		{{form}}
	    			<input class="button" type="submit" value="Войти">
    			</form>
            </div>
        </div>
    </body>
</html>